<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Конфигурация для консольного вывода -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} -
                %highlight(%-5level) -
                %logger{36} -
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Конфигурация для вывода в файл -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %-5level - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования и определение аппендеров для корневого логгера -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Настройка логирования для конкретных пакетов или классов -->
    <logger name="org.springframework.web" level="DEBUG" />
    <logger name="com.example.myapp" level="ERROR" />

</configuration>
